/* 
.bg-primary{
    background-color: black;
    text-align: center;
}
.h1{
    background-color: black;
}

@media (min-width: 100px)and(max-width: 200px) { body{
    background-color: rgb(30, 255, 0);
}}@media (min-width: 300px) { body{
    background-color: rgb(183, 0, 255);
}}
@media (min-width: 576px) { body{
    background-color: black;
}}

@media (min-width: 768px) {body{background-color: blue;} }


@media (min-width: 992px) {body{
    background-color: brown;
}}

@media (min-width: 1200px) { body{ background-color: aqua;}}

@media (min-width: 1400px) { ... } */